<div
  fxLayout="row"
  fxLayout.lt-sm="column-reverse"
  class="custom-schedules-component"
>
  <div fxLayout="row" fxLayout.lt-sm="column" @stagger>
    <div style="width: 130px" class="pb-5">
      <mat-checkbox
        (change)="toogleCheckDay($event)"
        [disabled]="disabled"
        [checked]="schedule.ranges?.length > 0"
        >{{ schedule.label }}</mat-checkbox
      >
    </div>
    <div fxLayout="column">
      <div
        @scaleInOut
        *ngIf="!schedule.ranges || schedule.ranges?.length == 0"
        class="w-full text-hint min-w-40 rounded-sm pb-6"
      >
        No disponible
      </div>
      <form
        (ngSubmit)="(false)"
        @scaleInOut
        fxLayout="row"
        fxLayoutAlign="center center"
        *ngFor="let item of schedule.ranges; let index = index"
        class="pb-6"
        #rangesForm="ngForm"
      >
        <div>
          <div class="flex items-center">
            <mat-form-field class="w-32">
              <input
                matInput
                [(ngModel)]="item.start_time"
                (ngModelChange)="handleChange()"
                [disabled]="disabled"
                name="start_time"
                #start_time="ngModel"
                required
                type="time"
                min="04:00"
                max="22:00"
              />
            </mat-form-field>
            <mat-icon
              [icIcon]="icHypen"
              [ngClass]="{ 'text-hint': disabled }"
            ></mat-icon>
            <mat-form-field class="w-32">
              <input
                matInput
                [(ngModel)]="item.end_time"
                (ngModelChange)="handleChange()"
                [disabled]="disabled"
                [TimeRangeValidator]="item.start_time"
                name="end_time"
                #end_time="ngModel"
                required
                type="time"
                min="04:00"
                max="22:00"
              />
            </mat-form-field>
          </div>
          <div
            class="text-xs text-error-600"
            *ngIf="
              (end_time.invalid || start_time.invalid) &&
              (end_time.touched || start_time.touched)
            "
          >
            Formato o rango no válido.
          </div>
        </div>
        <button
          type="button"
          mat-icon-button
          aria-label="Eliminar"
          matTooltip="Eliminar"
          (click)="onRemove(index)"
          [disabled]="disabled"
        >
          <mat-icon [icIcon]="icDelete"></mat-icon>
        </button>
        <button
          type="button"
          mat-icon-button
          aria-label="Agregar"
          matTooltip="Grupos"
          [matBadge]="item.groupsCount || 0"
          matBadgeSize="small"
          [matBadgeHidden]="!item.groupsCount"
          [disabled]="disabled"
          [matMenuTriggerFor]="groupsMenu"
        >
          <mat-icon [icIcon]="icPeople"></mat-icon>
        </button>
        <mat-menu #groupsMenu="matMenu">
          <button
            type="button"
            *ngFor="let group of item.groups"
            class="checkbox-item mat-menu-item"
            (click)="$event.stopPropagation()"
          >
            <mat-checkbox
              color="primary"
              [(ngModel)]="group.checked"
              (ngModelChange)="updateBadge(index)"
              [ngModelOptions]="{ standalone: true }"
            >
              {{ group.name }}
            </mat-checkbox>
          </button>
        </mat-menu>
      </form>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="end start" class="w-full">
    <button
      type="button"
      mat-icon-button
      aria-label="Agregar"
      matTooltip="Agregar"
      (click)="onAdd()"
      [disabled]="disabled"
    >
      <mat-icon [icIcon]="icAdd"></mat-icon>
    </button>
    <button
      type="button"
      mat-icon-button
      aria-label="Copiar"
      matTooltip="Copiar"
      [matMenuTriggerFor]="copyMenu"
      [disabled]="disabled"
      (click)="checkCurrentDay()"
    >
      <mat-icon [icIcon]="icCopy"></mat-icon>
    </button>
  </div>
</div>

<mat-menu #copyMenu="matMenu" xPosition="before" yPosition="below">
  <button
    type="button"
    *ngFor="let day of weekDays"
    class="checkbox-item mat-menu-item"
    (click)="$event.stopPropagation()"
  >
    <mat-checkbox
      color="primary"
      [(ngModel)]="day.checked"
      [disabled]="day.day == schedule.day"
    >
      {{ day.label }}
    </mat-checkbox>
  </button>
  <div class="px-2">
    <button
      color="primary"
      mat-raised-button
      type="button"
      class="w-full"
      (click)="onCopy()"
    >
      Aplicar
    </button>
  </div>
</mat-menu>
