<vex-page-layout>
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
        <div class="w-full flex flex-col sm:flex-row justify-between">
            <div>
                <h2 class="m-0">Días Festivos</h2>
            </div>
        </div>
    </vex-page-layout-header>

    <vex-page-layout-content class="-mt-6">
        <custom-data-table 
            [columns]="columns" 
            [dialogComponent]="HolidayFormComponent" 
            [getApiUrl]="getApiUrl"
            [deleteApiUrl]="deleteApiUrl">
        </custom-data-table>
    </vex-page-layout-content>
</vex-page-layout>