<div class="w-full min-h-full bg-pattern px-4" fxLayout="column" fxLayoutAlign="center center">
  <div @fadeInUp class="card w-full max-w-lg my-5">
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/demo/logo.svg" />
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Registro</h2>
      <h4 class="body-2 text-secondary m-0">
        Ingrese la información solicitada
      </h4>
    </div>

    <div [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px">
      <div fxFlex="auto" fxLayout="row wrap">
        <mat-error *ngFor="let message of server_validation_messages['username']" class="px-2 text-xs mb-1">
          <span>{{message}}</span>
        </mat-error>
        <mat-form-field fxFlex="100" class="p-1">
          <mat-label>Nombre de usuario</mat-label>
          <input formControlName="username" matInput required maxlength="100" />
          <mat-error *ngFor="let validation of client_validation_messages['username']">
            <span *ngIf="form.get('username').hasError(validation.type)">{{validation.message}}</span>
          </mat-error>
        </mat-form-field>

        <div fxFlex="100" fxFlex.gt-sm="50" class="p-1" fxFlexAlign="end">
          <mat-error *ngFor="let message of server_validation_messages['first_name']" class="px-2 text-xs mb-1">
            <span>{{message}}</span>
          </mat-error>
          <mat-form-field class="w-full">
            <mat-label>Nombres</mat-label>
            <input formControlName="first_name" matInput required maxlength="150" />
            <mat-error *ngFor="let validation of client_validation_messages['first_name']">
              <span *ngIf="form.get('first_name').hasError(validation.type)">{{validation.message}}</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="50" class="p-1" fxFlexAlign="end">
          <mat-error *ngFor="let message of server_validation_messages['last_name']" class="px-2 text-xs mb-1">
            <span>{{message}}</span>
          </mat-error>
          <mat-form-field class="w-full">
            <mat-label>Apellidos</mat-label>
            <input formControlName="last_name" matInput required maxlength="150" />
            <mat-error *ngFor="let validation of client_validation_messages['last_name']">
              <span *ngIf="form.get('last_name').hasError(validation.type)">{{validation.message}}</span>
            </mat-error>
          </mat-form-field>
        </div>

        <mat-error *ngFor="let message of server_validation_messages['email']" class="px-2 text-xs mb-1">
          <span>{{message}}</span>
        </mat-error>
        <mat-form-field fxFlex="100" class="p-1">
          <mat-label>Correo</mat-label>
          <input formControlName="email" matInput required maxlength="254" />
          <mat-error *ngFor="let validation of client_validation_messages['email']">
            <span *ngIf="form.get('email').hasError(validation.type)">{{validation.message}}</span>
          </mat-error>
        </mat-form-field>

        <mat-error *ngFor="let message of server_validation_messages['password']" class="px-2 text-xs mb-1">
          <span>{{message}}</span>
        </mat-error>
        <mat-form-field fxFlex="100" fxFlex.gt-sm="50" class="p-1">
          <mat-label>Contraseña</mat-label>
          <input [type]="inputType" formControlName="password" matInput required maxlength="80" />
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
            <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
            <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
          </button>
          <mat-error *ngFor="let validation of client_validation_messages['password']">
            <span *ngIf="form.get('password').hasError(validation.type)">{{validation.message}}</span>
          </mat-error>
        </mat-form-field>


        <mat-form-field fxFlex="100" fxFlex.gt-sm="50" class="p-1">
          <mat-label>Confirmar contraseña</mat-label>
          <input [type]="inputType" formControlName="passwordConfirm" matInput required maxlength="80" />
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
            <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
            <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
          </button>
          <mat-hint>Ingrese nuevamente su contraseña</mat-hint>
          <mat-error *ngFor="let validation of client_validation_messages['passwordConfirm']">
            <span *ngIf="form.get('passwordConfirm').hasError(validation.type)">{{validation.message}}</span>
          </mat-error>
        </mat-form-field>
      </div>

      <button (click)="register()" color="primary" mat-raised-button type="button">
        CREAR
      </button>
      <p class="text-secondary text-center">
        ¿Ya tiene una cuenta?<br />
        <a [routerLink]="['/login']" class="font-medium text-cyan">Ingrese aquí</a>
      </p>
    </div>
  </div>
</div>