<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">Cambiar Contraseña</h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column" class="mt-3">
    <mat-error *ngFor="let message of server_validation_messages['old_password']" class="px-2 text-xs mb-1">
      <span>{{ message }}</span>
    </mat-error>
    <mat-form-field fxFlex="100" fxFlex.gt-sm="50" class="p-1">
      <mat-label>Contraseña Actual</mat-label>
      <input [type]="inputType" formControlName="old_password" matInput required maxlength="80"  autocomplete="old-password"/>
      <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
        <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
        <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
      </button>
      <mat-error *ngFor="let validation of client_validation_messages['old_password']">
          <span *ngFor="let validation of client_validation_messages['old_password']">
            <span *ngIf="form.get('old_password').hasError(validation.type)"> {{ validation.message }} </span>
          </span>
      </mat-error>
    </mat-form-field>

    <mat-error *ngFor="let message of server_validation_messages['new_password']" class="px-2 text-xs mb-1">
      <span>{{ message }}</span>
    </mat-error>
    <mat-form-field fxFlex="100" fxFlex.gt-sm="50" class="p-1">
      <mat-label>Nueva Contraseña</mat-label>
      <input [type]="inputType" formControlName="new_password" matInput required maxlength="80"  autocomplete="new-password"/>
      <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
        <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
        <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
      </button>
      <mat-error>
          <span *ngFor="let validation of client_validation_messages['new_password']">
            <span *ngIf="form.get('new_password').hasError(validation.type)"> {{ validation.message }} </span>
          </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="100" fxFlex.gt-sm="50" class="p-1">
      <mat-label>Confirmar Nueva Contraseña</mat-label>
      <input [type]="inputType" formControlName="new_password_confirm" matInput required maxlength="80"  autocomplete="confirm-new-password"
        (keyup.enter)="save()" />
      <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
        <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
        <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
      </button>
      <mat-hint>Ingrese nuevamente su contraseña</mat-hint>
      <mat-error>
        <span *ngFor="let validation of client_validation_messages['new_password_confirm']">
          <span *ngIf="form.get('new_password_confirm').hasError(validation.type)">{{ validation.message }}</span>
        </span>
      </mat-error>
    </mat-form-field>
    <p class="text-xs text-gray p-1 mt-3">
      La contraseña no admite espacios y debe contener al menos una mayúscula, una minúscula, un número y un caracter especial válido !@#$%^&*
    </p>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancelar</button>
    <button color="primary" mat-button type="submit">Cambiar Contraseña</button>
  </mat-dialog-actions>
</form>