<div class="card p-6 mt-6">
  <div fxLayout="row" fxLayout.lt-xl="column">
    <div @fadeInUp fxFlex="100">
      <div class="md:px-6 py-4 border-b">
        <h2 class="m-0">Configuración de Horarios</h2>
      </div>
      <form [formGroup]="schedulesform">
        <div *ngFor="let day of commonFunctions.weekDays" class="border-b">
          <div class="md:px-6 px-0 pt-6">
            <day-schedules
              [formControlName]="day.day.toString()"
              [groups]="groups"
              (onCopied)="copySchedule($event)"
            ></day-schedules>
          </div>
          <div class="md:px-6 px-0 pb-3 text-xs text-error-600">
            <span
              *ngFor="let validation of client_validation_messages['generic']"
            >
              <span
                *ngIf="
                  schedulesform
                    .get(day.day.toString())
                    .hasError(validation.type)
                "
              >
                {{ validation.message }}
              </span>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="8px"
    class="mt-10"
  >
    <button
      mat-button
      type="button"
      (click)="navigation.goBackRelative(3, route)"
    >
      Cancelar
    </button>
    <button color="primary" mat-raised-button type="button" (click)="save()">
      Guardar
    </button>
  </div>
</div>
